project-db/.classpath
project-db/.project
project-db/.settings/org.eclipse.jdt.core.prefs
project-db/.settings/org.eclipse.m2e.core.prefs
project-db/target/test-classes/com/jdc/project/test/ProjectDbTestSuite.class
project-db/target/test-classes/com/jdc/project/test/service/MemberServiceTest.class
project-db/target/test-classes/com/jdc/project/test/service/ProjectServiceTest.class
project-db/target/test-classes/com/jdc/project/test/utils/CommonUtils.class
project-db/target/test-classes/com/jdc/project/test/utils/MemberServiceTestUtils.class
project-db/target/test-classes/com/jdc/project/test/utils/ProjectServiceTestUtils.class
project-db/target/classes/com/jdc/project/ProjectDbConfiguration.class
project-db/target/classes/com/jdc/project/model/ProjectDbException.class
project-db/target/classes/com/jdc/project/model/dto/Assignment$Type.class
project-db/target/classes/com/jdc/project/model/dto/Assignment.class
project-db/target/classes/com/jdc/project/model/dto/Member$Role.class
project-db/target/classes/com/jdc/project/model/dto/Member.class
project-db/target/classes/com/jdc/project/model/dto/MemberVO.class
project-db/target/classes/com/jdc/project/model/dto/Project.class
project-db/target/classes/com/jdc/project/model/dto/Task$Phase.class
project-db/target/classes/com/jdc/project/model/dto/Task.class
project-db/target/classes/com/jdc/project/model/service/AssignmentService.class
project-db/target/classes/com/jdc/project/model/service/MemberService.class
project-db/target/classes/com/jdc/project/model/service/ProjectService.class
project-db/target/classes/com/jdc/project/model/service/TaskService.class
project-db/target/classes/com/jdc/project/model/service/utils/MemberHelper.class
project-db/target/classes/com/jdc/project/model/service/utils/ProjectHelper.class
project-db/target/classes/META-INF/MANIFEST.MF
